:root {
    --font-primary : "Cinzel Decorative", serif;
    --font-secondary : "League Spartan", serif;
    --main-background-color : #000;
    --color-primary : #FFF;
    --color-secondary : #FF8585;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
p {
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-background-color);
    color: var(--color-primary);
    font-family: var(--font-secondary);
    font-weight: 400;
    font-size: 20px;
    line-height: 1.25;
}

.coming-soon {
    text-align: center;
}

.logo {
    width: 130px;
    margin-bottom: 25px;
}

.title {
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 20px;
}

.description {
    margin-bottom: 30px;
}

.countdown {
    display: flex;
    flex-direction: column;
}

.item {
    padding: 10px 0;
}

.item:last-child {
    margin-bottom: 0;
}

.item strong {
    display: block;
    font-family: var(--font-primary);
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 5px;
}

.item p {
    font-size: 18px;
    text-transform: uppercase;
    color: var(--color-secondary);
}

@media only screen and (min-width: 768px) {
    body {
        font-size: 22px;
    }

    .logo {
        width: 150px;
        margin-bottom: 30px;
    }
    
    .title {
        font-size: 40px;
        margin-bottom: 25px;
    }

    .description {
        margin-bottom: 30px;
    }

    .countdown {
        flex-direction: row;
        justify-content: center;
    }

    .item {
        padding: 15px 30px;
        position: relative;
    }

    .item:first-child {
        padding-left: 0;
    }

    .item:last-child {
        padding-right: 0;
    }

    .item::before {
        content: ":";
        position: absolute;
        color: var(--color-secondary);
        top: 35%;
        right: -5px;
        font-size: 40px;
        font-weight: 700;
        line-height: 0;
    }

    .item:last-child {
        padding-right: 0;
    }

    .item:last-child::before {
        content: none;
    }

    .item strong {
        font-size: 35px;
        margin-bottom: 10px;
    }
}